:root {
  /* COLORS */
  --background-color: rgb(101 1 255);
  --secondary-background-color: rgb(227 227 227);

  --secondary-text-color: rgb(128 128 128);
  /* SPACING */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10pt;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITIES */

/* Customization */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

header > div > h1 {
  font-size: 30pt;
}

header > div > *:not(h1) {
  color: var(--secondary-text-color);
}

.toggles {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: auto;
}

.toggles > div {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 10px;
}

.toggles > div > i {
  font-size: 20pt;
  margin-left: 10px;
}

.toggles > div:first-of-type > i {
  color: black;
}

.container {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.cards {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  flex-basis: calc(100% / 3 - (30px * 2) / 3);
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 300px;

  border-radius: 25px;
  padding: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
}

.card > div {
  min-width: 100%;
  text-align: center;
}

.card > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 20px 30px;
}

.card > ul > li > i {
  font-size: 20pt;
  margin-right: 20px;
}

.price > span:nth-child(2) {
  font-weight: bold;
  font-size: 30px;
}

.card > div:last-of-type > span:last-of-type {
  display: inline-block;
  background-color: var(--secondary-background-color);
  padding: 5px;
  border-radius: 5px;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-weight: normal;
  color: var(--secondary-text-color);
}

.price > span:nth-child(1) {
  font-size: 20pt;
  font-weight: bold;
}

.price > span:nth-child(2) {
  font-size: 50pt;
}

.price > span:nth-child(3) {
  color: var(--secondary-text-color);
}

.button {
  display: block;
  color: white;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  min-width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.active {
  background-color: var(--background-color);
  color: white;
}

.active > h3 {
  color: white;
}

.active > .button {
  background-color: white;
  color: var(--background-color);
}
.active > .price > span:nth-child(3) {
  color: white;
}

.active > div:last-of-type > span:last-of-type {
  background-color: white;
  color: black;
}
