:root {
  /* COLORS */

  /* SPACING */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
/* UTILITIES */

.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}
